[Unit]
Description={{ service_name }} Podman Container
After=network-online.target
Wants=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman kill "{{ service_name }}"
ExecStartPre=-/usr/bin/podman rm "{{ service_name }}"
ExecStartPre=-/usr/bin/podman pull "{{ image }}"
ExecStart=/usr/bin/podman run --name="{{ service_name }}" -v {{ data_directory }}:/etc/coredns --dns 127.0.0.1 -p "53:53/tcp" -p "53:53/udp" --network piholenet --ip {{ coredns_ip }} {{ image }} -conf /etc/coredns/Corefile

ExecReload=-/usr/bin/podman stop "{{ service_name }}"
ExecReload=-/usr/bin/podman rm "{{ service_name }}"
ExecStop=-/usr/bin/podman stop "{{ service_name }}"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
