[Unit]
Description={{ service_name }} Podman Container
After=network-online.target
Wants=network.target

[Service]
Type=simple
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman kill "{{ service_name }}"
ExecStartPre=-/usr/bin/podman rm "{{ service_name }}"
ExecStartPre=-/usr/bin/podman pull "{{ image }}"
ExecStart=/usr/bin/podman run --name {{ service_name }} {% if service_pod is defined %}--pod {{ service_pod }}{% else %}-p 8080:80{% endif %} --env-file {{ data_directory }}/{{ service_name }}/.env -v {{ data_directory }}/{{ service_name }}/wp:/var/www/html:z {{ image }}

ExecReload=-/usr/bin/podman stop "{{ service_name }}"
ExecReload=-/usr/bin/podman rm "{{ service_name }}"
ExecStop=-/usr/bin/podman stop "{{ service_name }}"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
