token = "{{ linode_token }}"
authorized_keys = "YOUR_PUBLIC_SSH_KEY"
root_pass = "{{ root_password }}"
zones = {
    description = "Map of project names to configuration."
    type        = map(any)

    default = {
        client-webapp = {
        public_subnets_per_vpc  = 2,
        private_subnets_per_vpc = 2,
        instances_per_subnet    = 2,
        instance_type           = "t2.micro",
        environment             = "dev"
    }
  }

}